:root{
    --color-dark: #1F1F1F;
    --dark-gray-1: #474747;
    --dark-gray-2: #666666;
    --light-gray-1:#8F8F8F;
    --light-gray-2: #CCCCCC;
    --light-gray-3: #F5F5F5;
    --white: #FFFFFF;
    --primary: #C92071;
    --secundary: #B5B6F2;
    --tTertiary: #991956;
    --error: #EE4266;
    --success: #52CA76;
    --warning: #F6AA1C;
    --primary-g: linear-gradient(top, #C92071 0%, #EDABCA 100%);
    --secondary-g: linear-gradient(top, #B5B6F2 0%, #E1E1F2 100%);


}